<% content_for :page_title do %>
  <%= Spree.t(plural_resource_name(Spree::Vendor)) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_vendor), new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_vendor' } %>
<% end if can?(:create, Spree::Vendor) %>

<% if @vendors.any? %>
  <table class="table sortable" data-hook="vendors_table" data-sortable-link="<%= update_positions_admin_vendors_url %>">
    <thead>
      <tr data-hook="vendors_header">
        <th>
          <%= I18n.t(:name, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= I18n.t(:state, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= I18n.t(:about_us, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= I18n.t(:contact_us, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <% if Spree.version.to_f >= 3.6 %>
          <th>
            <%= I18n.t(:image, scope: 'activerecord.attributes.spree/vendor') %>
          </th>
        <% end %>
        <th>
          <%= I18n.t(:created_at, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @vendors.each do |vendor| %>
        <tr id="<%= spree_dom_id vendor %>" data-hook="vendors_row">
          <td>
            <%= vendor.name %>
          </td>
          <td>
            <%= Spree.t(vendor.state).downcase %>
          </td>
          <td>
            <%= vendor.about_us&.truncate(20) %>
          </td>
          <td>
            <%= vendor.contact_us&.truncate(20) %>
          </td>
          <% if Spree.version.to_f >= 3.6 %>
            <td>
              <%= image_tag main_app.url_for(vendor.image.url(:mini)) if vendor.image %>
            </td>
          <% end %>
          <td>
            <%= pretty_time(vendor.created_at) %>
          </td>
          <td class="actions actions-1 text-right">            
            <%= link_to_with_icon('edit', Spree.t(:edit), edit_admin_vendor_setting_path(vendor), class: 'btn btn-primary btn-sm', no_text: true, data: { action: 'edit' }) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Vendor)) %>
  </div>
<% end %>