<% if current_spree_user.respond_to?(:has_spree_role?) && current_spree_user.has_spree_role?(:admin) %>
  <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
    <%= link_to spree.admin_vendors_url, class: "w-100" do %>
      <%= content_tag(:span, nil, class: 'icon icon-home') %>
      <%= Spree.t(:vendor) %>
    <% end %>
  </li>
<% else %>
  <% if current_spree_user.vendors %>
		<% if current_spree_user.vendors.size == 1 %>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <%= link_to spree.edit_admin_vendor_setting_url(current_spree_user.vendors.first), class: "w-100" do %>
          <%= content_tag(:span, nil, class: 'icon icon-home') %>
          <%= Spree.t(:vendor) %>
        <% end %>
      </li>
    <% end %>
    <% if current_spree_user.vendors.size > 1 %>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <%= link_to spree.admin_vendor_settings_url, class: "w-100" do %>
          <%= content_tag(:span, nil, class: 'icon icon-home') %>
          <%= Spree.t(:vendor).pluralize %>
        <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>